PROJECT_NAME="OIL Problem AI Module"
API_V1_STR="/api/v1"
MICROSERVICE_API_KEY="your-secret-backend-api-key"

STAGE1_MODEL_PATH="./models_weights/stage1-v1-model"
STAGE2_BASE_MODEL="Qwen/Qwen2.5-7B-Instruct"
STAGE2_ADAPTER_PATH="./models_weights/stage2-qlora-adapter-step150"